* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d121e; 
    color: #e0e6ed; 
    height: 100vh;
    overflow: hidden;
}

header {
    padding: 15px 40px; 
    text-align: left; 
    background-color: #0d121e; 

    border-bottom: 3px solid #d03379;
    box-shadow: 0 4px 15px rgba(208, 51, 121, 0.5); 
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold; 
    letter-spacing: 1px;
}
/*Estilização dos botões*/
#buttons-tab{
    background-color: #1f2937;
    
    display: flex;
}
.button {
    padding: 10px;
    background-color: #111827;
}

/* Estilização das janelas*/
.workspace {
    position: relative;
    height: calc(100vh - 100px);
    overflow: hidden;
    flex-wrap: wrap;
    background-image: radial-gradient(#374151 1px, transparent 1px);
    background-size: 20px 20px;
}

.widget {
    position: absolute;
    background-color: #111827;
    border: 1px solid #374151; 
    border-radius: 6px;
    
    min-width: 260px;
    min-height: 200px;
    width: 360px; 
    height: 260;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.widget-header {
    background-color: #1f2937;
    padding: 5px 10px;
    border-bottom: 2px solid #d03379; 
    font-weight: bold;
    font-size: 0.9rem;
    cursor: move; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none; 
}
.widget-close {
    cursor: pointer;
    color: #9ca3af; 
    font-size: 1.2rem;
    line-height: 1;
    padding: 0 5px;
    transition: color 0.2s ease;
}

.widget-close:hover {
    color: #ef4444; 
}


.widget-content {
    min-height: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.widget-resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    z-index: 10; 
    cursor: nwse-resize; 
    background-color: transparent;
    background-image: linear-gradient(135deg, transparent 50%, #d03379 50%);
    border-bottom-right-radius: 4px;
}

.map-container {
    width: 100%;
    height: 100%;
    flex: 1;
    z-index: 1; /* Garante que o mapa fique no fundo da janela */
}
